/* .home-page {
    padding: 22vh 0;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .home-page h1 {
    font-size: 7.5vh;
    margin-bottom: 8vh;
    color: white;
  }
  
  .home-page p {
    font-size: 4vh;
    line-height: 1.6;
    margin-bottom: 15px;
    padding: 0px 2vh 0px 2vh;
    color: white;
  }
  
  .home-content a {
    color: #007bff;
  } */

.gin-bg {
    position: absolute;
    width: 100vw;
     height: 94vh;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     object-fit: fill;
     z-index: -2;
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 97.2%, 0 calc(100% - 50px));
     clip-path: polygon(0 0, 100% 0, 100% 97.2%, 0 calc(100% - 50px));
   }

   .text {
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   min-height: 90vh;
   bottom: 0px;
   height: 70%;
   width: 100%;
   color: #ffffff;
   text-align: center;
   }
   .text h1 {
    display: flex;
     font-size: 3.9rem;
     margin-bottom: 20px;
     font-weight: 400;
     flex-direction: row;
   }
  .text h2 {
    font-size: 3.3rem;
    font-weight: 400;
  }

  .name-color {
    color: rgb(229, 241, 158);
  }

  @media only screen and (max-width: 600px) {
    .text h1 {
      font-size: 3.2rem;
      flex-direction: column;
      margin-bottom: 0px;
     }
     .text h2 {
      margin-top: 10px;
      font-size: 3rem;
    }
  }
   /* @media screen and (max-width: 900px) {
    .home-page {
      padding: 200px 0;
    }
    .home-page h1 {
      font-size: 2rem;
    }
    .home-page p {
      font-size: 1.2rem;
    }
  } */